<p class="text-danger">This may take several minutes to load! Please be
patient - if you leave the page, you will have to start over.</p>

<form>
  <div class="form-group" style="width: 200px;">
    <label>Semester</label>
    {{ember-selectize
      content=semesterOptions
      value=selectedSemester
      optionValuePath="content.letter"
      optionLabelPath="content.name"}}
  </div>
  <div class="form-group" style="width: 200px;">
    <label>Year</label> 
    {{ember-selectize
      content=yearOptions
      value=selectedYear}}
  </div>
  <button class="btn btn-primary" {{action "startImport"}}>Import</button>
  {{#if loading}}
    <div class="loader" style="width:100px;height:100px;"></div>
    <p>Please wait while the server pulls data from BannerWeb! This may take several minutes.</p>
  {{/if}}
</form>
