<h1>Departments</h1>
<table class="table">
  <tr>
    <th>Abbreviation</th>
    <th>Name</th>
    <th>Administrator</th>
    <th>Admin. Email</th>
  </tr>
  <tr>
    <td>CSE</td>
    <td>Computer Science</td>
    <td>Dr. James Kiper</td>
    <td>kiperjd@miamioh.edu</td>
  </tr>
</table>
{{outlet}}
