<h2>Departments</h2>
<table class="table">
  <tr>
    <th>Abbreviation</th>
    <th>Name</th>
    <th>Administrator</th>
    <th>Admin. Email</th>
    <th></th>
  </tr>
  {{#each dept in model}}
    {{department-edit-row dept=dept}}
  {{/each}}
</table>
{{outlet}}
