<h2>Instructors</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th class="col-sm-2">Full Name</th>
    <th class="col-sm-2">Email</th>
    <th class="col-sm-2">UniqueID</th>
  </tr>
{{#each model as |instructior|}}
  <tr>
    <td><strong>{{#link-to 'instructor' instructor}}{{instructor.fullName}}{{/link-to}}</strong></td>
    <td>{{mail-to instructor.email}}</td>
    <td>{{instructor.uniqueid}}</td>
  </tr>
{{/each}}
{{outlet}}
</table>
