<div class="row">
  <div class="col-md-4" style="padding-right:30px;">
    <h3>Course Info</h3>

    {{! Course type }}
    <div class="form-group">
      <label>Course type</label><br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="option1" checked>N/A
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option2">Online Only
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option3">Hybrid
        </label>
      </div>
    </div>

    {{! Course title }}
    <div class="form-group">
      <label for="courseTitleInput">Course Title</label>
      {{input value=title id="courseTitleInput" type="text" class="form-control"}}
    </div>

    {{! CRN }}
    <div class="form-group">
      <label for="courseCRNInput">Has CRN</label>
      <input id="courseCRNInput" type="text" class="form-control">
    </div>

    {{! Instructor }}
    <div class="form-group">
      <label for="instructor-select">Instructor</label>
      <select id="instructor-select" class="form-control">
        <option></option>
        {{#each instructor in instructors}}
        <option>{{instructor.fullName}}</option>
        {{/each}}
      </select>
    </div>

    <h3>Reviews</h3>

    {{! Has previous review }}
    <div class="form-group">
      <label>Has Previous Review</label><br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="option1" checked>N/A
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option2">Yes
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option3">No
        </label>
      </div>
    </div>

    {{! Due for review soon }}
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" checked=dueForReviewSoon>Due for review soon
        </label>
      </div>
    </div>

    {{! Review timespan }}
    <div class="form-group">
      Or, due for review in &lt; 
      <input type="text" style="display:inline;width:20px;" maxlength="1">
      years
    </div>

    <h3>Compliance</h3>

    {{! ADA compliance form }}
    <div class="form-group">
      <label>ADA Compliant</label><br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="option1" checked>N/A
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option2">Yes
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option3">No
        </label>
      </div>
    </div>

    {{! ADA compliance year }}
    <div class="form-group">
      <span>ADA Compliance Year: 
        <select id="ada-year-select" style="display:inline;width:100px;" 
          data-placeholder="ADA Year" class="form-control">
          <option></option>
          <option>1999</option>
          <option>2008</option>
          <option>2012</option>
        </select>
      </span>
    </div>

    {{! Copyright compliance form }}
    <div class="form-group">
      <label>Copyright Compliant</label><br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="option1" checked>N/A
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option2">Yes
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option3">No
        </label>
      </div>
    </div>
  </div>

  {{! Matching Course Versions }}
  <div class="col-md-8" style="border-left: 1px solid #EEE;">
    <div>
      <span style="float:left;">Sort by: <a href="">Most recent review &#9660;</a></span>

      <a href="" style="float:right;">Export to Spreadsheet</a>
    </div>
    <hr>

    {{#each cv in filteredCourses}}
      {{search-result cv=cv}}
    {{/each}}
  </div>
</div>
{{outlet}}
