<div class="row">
  <div class="col-md-3">
    {{#link-to 'tools'}}&lt; Go to Tools{{/link-to}}
  </div>
  <div class="col-md-9" style="border-left: 1px solid #EEE;">

    <h3>Banner Course Import</h3> 
    
    <p>Select a semester from which to import courses and sections. You
    <strong>will</strong> be able to review the imported courses before adding
    them to the system.</p>

    <div>
      {{outlet}}
    </div>
  </div>
</div>
