<h2>Tools</h2>
<button class="btn btn-lg btn-primary">Import course data from Banner</button>
<br>
<br>
<br>
<button class="btn btn-lg btn-primary">Send notices to instructors with quality checks due soon</button>
{{outlet}}
