<tr>
  <td colspan=6 style="text-align:center;">
    <strong>{{#link-to 'courseSections.new'}}<span class="glyphicon glyphicon-plus"></span> Add a new course section{{/link-to}}</strong>
  </td>
</tr>
